<div class="bigbox">
    <div>
        <table>
            <tbody>
                <% @user.each do |user| %>
                    <tr>
                        <%= render user %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    
</div>